.aboutRow {
  background-color: #fff;
  padding-top: 20px;
}

.about-us {
    font-size: 20px;
    max-width: 960px;
    min-height: 53vh;
  }

  .about-us p {
    margin: 0;
    padding: 0 20px 30px 20px;
  }
  #emailUs{
    color: #900;
  }

  .about-us h2 {
    color: #900;
    font-size: 3rem;
    margin-top: 0;
  }
  @media screen and (min-width:500px) {
    .about-us {
      padding: 0px 35px 50px 35px;
      min-height: 0vh;;

    }
    .about-us h2 {
      font-size: 2.5em;
      margin-top: 0px;
    }
  }
  @media screen and (min-width:700px) {
    .about-us {
      font-size: 24px;
      padding: 0px 50px 50px 50px;

    }
    .about-us h2 {
        margin-top: 50px;
        margin-bottom: 15px;
        font-size: 3.5em;
    }
  }
