.bar-result {
  max-width: 960px;
  margin: 0 auto;
}

.bar-container {
  background-color: rgba(0,0,0,0.8);
  max-width: 960px;
  padding-bottom: 10px;
  /* margin-top: 80px!important; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

}

.bar-name, .bar-hood {
  color: #fff;
  font-size: 2.2rem;
}

.bar-hood {
  font-size: 1rem;
}

.btn {
  background-color: #900;
  color: #fff;
  font-size: 10px;
  height: 30px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
}
  .btn:hover {
    background-color: #fff;
    border: 1px solid #900;
    color: #900;
  }

.bar-info-container {
  background-color: #fff;
  font-size: 1.5rem;
  margin: 15px;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

}
.bar-info-container h4 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 20px 0;
}
.bar-info-container a {
  color: #900;
  cursor: pointer;
}

.bar-info-container p {
  font-size: 18px;
}
.hours {
  margin: 0;
}

.address {
  color: #000;
  margin: 0;
}
.menu {
  margin-top: 15px;
}
.bar-info-container p:nth-child(2) {
  margin-top: 10px;
}

.bar-info-container p:nth-child(4) {
  margin-top: 10px;
}

.bar-info-container p:nth-child(6) {
  margin-top: 0;
}

.bar-info-container p:last-child {
  margin-bottom: 10px;
}

.img-container {
  position: relative;
  /* min-height: 350px; */
}
.bar-name, .bar-hood {
  text-shadow: 0 0 7px coral, 0 0 7px coral;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
}
  .bar-name {
    bottom: 50px;
  }
  .bar-hood {
    bottom: 25px;
  }
  .rest-img {
    width: 100%;
  }


@media screen and (min-width: 500px) {
  .bar-result {
    padding-top: 50px;
    padding-bottom: 10px;

  }
  .bar-name {
    font-size: 3rem;
  }
  .bar-hood {
    font-size: 1.2rem;
  }
  .bar-container {
    margin: 80px 5% 75px 5%;
  }

  .bar-info-container {
    margin: 30px;
  }
  .bar-info-container h4 {
    font-size: 2rem;
  }

}

@media screen and (min-width: 700px) {

  .btn {
    font-size: 14px;
    height: 40px;
    width: 130px;
  }
  .bar-container {
    margin-top: 120px!important;
  }
}
