.filter-modal {
  background-color: rgba(0, 0, 0 ,0.7);
  min-height: auto;
  padding: 25px;
  width: 450px;
  /* display: none; */
}

.modal-content {
  min-height: 500px;
}

.price-radio, .booze-radio, .time-radio {
  display: flex;
    justify-content: center;
}

.price-radio form, .booze-radio form , .time-radio form {
  display: flex;
}
