.filter-modal {
  background-color: rgba(0, 0, 0 ,0.7);
  border: 15px solid #900;
  padding-bottom: 30px;
  margin: 0;
  min-width: 350px;
  color: #fff;
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 18px;
}

.modal-content {
  /* min-height: 500px; */
}

.modal-content h3 {
  font-size: 36px;
  /* text-decoration: underline; */
}
.optional {
  margin-bottom: 50px;
}

.price-radio {
  display: flex;
    justify-content: center;
}

.price-radio h4 {
  margin-top: 1px;
  margin-right: 10px;
  font-size: 20px;
}
.price-radio form {
  display: flex;
  justify-content: center;
}

.cuisineLabel {
  color: white;
}

.radio label {
  color: lime;
  margin: 0 10px;
}

.buttonDiv {
  clear: both;
  display: flex;
  justify-content: center;
}

.modalCuisine {
  display: flex;
  flex-direction: column;
}
.modalCuisine label {
  margin-bottom: 10px;
}

.modalSelect {
  margin: 0 auto;
  font-size: 14px;
  width: 90%!important;
  color: #aaa!important;
  background-color: rgba(0, 0, 0 ,0.9)!important;
  border: 1px solid rgba(255, 255, 255, 0.6)!important;
  border-radius: 25px!important;
}

@media screen and (min-width: 500px) {

  .filter-modal {
    width: 450px;
  }
  .modalCuisine, .cuisineSelect {
    width: 100%!important;
  }

  .modalSelect {
    width: 80%!important;
  }
  .filter-modal {
    width: 450px;
  }
}

@media screen and (min-width: 700px) {
  .filter-modal {
    width: 550px;
  }
  .modalCuisine, .cuisineSelect {
    width: 100%!important;
  }
  .modalSelect {
    height: 50px!important;
    width: 70%!important;
    }
}
