.

.dropDown {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 1.9em;
  width: 100%;
  text-shadow: 0 0 5px magenta, 0 0 10px magenta;
}

.homeTitle {
  font-size: 2.2em!important;
  text-shadow: 0 0 5px magenta, 0 0 10px coral!important;
}

@media screen and (min-width:500px) {
  h1 {
    font-size: 2.5em;
    margin-top: 60px;
  }
  .dropDown {
      top: 25%;
  }
  .homeTitle {
    font-size: 3.1em!important;
  }
}

@media screen and (min-width:700px) {
  h1 {
    font-size: 4em;
    margin-top: 50px;
  }

  .dropDown {
      top: 30%;
  }
  .homeTitle {
    font-size: 3.8em!important;
  }
}

@media screen and (min-width:960px) {
  h1 {
    font-size: 4em;
    margin-top: 70px;
  }

  .dropDown {
      top: 32%;
  }
  .homeTitle {
    font-size: 4.4em!important;
  }
}
