.results-container {
  max-width: 350px;
  margin-bottom: 30px;
}

.card-results-wrapper {
  margin: -80px 0px 20px 0px;
  background-color: rgba(0,0,0,0.2)
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}


a:visited {
  color: #900;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px!important;
}

.resultsBtn {
  margin-left: 20px;
}

@media screen and (min-width: 500px) {

  .results-container {
    max-width: 450px;
  }

}

@media screen and (min-width: 700px) {

  .results-container {
    max-width: 650px;
  }

}


@media screen and (min-width: 1024px) {

  .results-container {
    max-width: 850px;
  }

}
