.slider-wrapper {
    overflow:hidden;
    width:100%;
    position:relative;
    height:300px;
  }
  .slides {
    transition: left 2s;
    position:absolute;
    top:0;
    height:100%;
  }
  .slides li {
    float:left;
    background:#ccc;
    list-style-type:none;
    height:300px;
  }
  .pagers {
    text-align:center;
    top:-50px;
    z-index:1000;
    position:relative;
  }
  .pagers li {
    width:20px;
    height:20px;
    border:1px solid #fff;
    display:inline-block;
    border-radius: 20px;
    margin-right:8px;
  }