
footer {
  color: #fff;
  background-color: #900;
  height: 130px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

}

footer p {
  color: #000;
  font-family: sans-serif;
}

.media {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 80px;
}

.media:hover {
  cursor: pointer;
}

.media img {
  margin: 0 15px;
  width: 45px;
}

@media screen and (min-width: 500px) {
  footer {
    height: 160px;
  }
  .media img {
    width: 55px;
  }
}
@media screen and (min-width: 700px) {
  footer {
    height: 200px;
  }
}
