
footer {
  color: #fff;
  background-color: #900;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 5px;
}

footer h3 {
  text-align: center;
  font-size: 2rem;

}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media:hover {
  cursor: pointer;
}

.media img {
  margin: 0 15px;
  width: 55px;
}
