
footer {
  color: #fff;
  background-color: #900;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

}

footer h3 {
  text-align: center;
  font-size: 2rem;

}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media:hover {
  cursor: pointer;
}

.media img {
  margin: 0 15px;
  width: 55px;
}
