slide1, slide2, slide3 {
    height: 500px;
}

.backDrop {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.thumbs-wrapper {
    display: none;
    justify-content: center;
    z-index: 0;
}
