.bar-container {
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 75px;
  max-width: 960px;
  padding-bottom: 30px;
}

.bar-name, .bar-hood {
  color: #fff;
}
.btn {
  background-color: #900;
  color: #fff;
  margin-top: 30px;
}
  .btn:hover {
    background-color: #fff;
    border: 1px solid #900;
    color: #900;
  }

.bar-info-container {
  background-color: #fff;
  margin: 30px 30px 30px 30px;
  padding: 35px 10px 70px 10px;
}
.bar-info-container h4 {
  text-decoration: underline;
}
.bar-info-container a {
  color: #900;
}
.hours {
  margin: 0;
}

.bar-info-container a:hover {
  color: coral;
  text-decoration: none;
}

.address {
  margin: 0;
}
.menu {
  margin-top: 35px;
}
.bar-info-container p:nth-child(2) {
  margin-top: 25px;
}

.bar-info-container p:nth-child(4) {
  margin-top: 25px;
}

.bar-info-container p:last-child {
  margin-bottom: 25px;
}

.img-container {
  position: relative;
}
  .bar-name {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
      bottom: 70px;
      left: 0;
      right: 0;
  }
  .bar-hood {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
  }

@media screen and (min-width: 700px) {
  .bar-container {
    margin: 0 10% 75px 10%;
  }
  .description {
    padding: 0 60px;
  }

}
