.bar-result {
  /* padding-top: 50px; */
  /* background-color: coral; */
  background-image: url('https://www.freepik.es/index.php?goto=74&idfoto=1306609');
  background-size: cover;
}

.bar-container {
  background-color: rgba(0,0,0,0.8);
  margin-bottom: 75px;
  max-width: 960px;
  padding-bottom: 30px;
}

.bar-name, .bar-hood {
  color: #fff;
  font-size: 2.5rem;
}
.bar-hood {
  font-size: 1.2rem;
}

.btn {
  background-color: #900;
  /* border-radius: 25px; */
  color: #fff;
  font-size: 16px;
  height: 50px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
}
  .btn:hover {
    background-color: #fff;
    border: 1px solid #900;
    color: #900;
  }

.bar-info-container {
  background-color: #fff;
  font-size: 1.5rem;
  margin: 15px;
  padding: 35px 10px 70px 10px;
}
.bar-info-container h4 {
  font-size: 2.5rem;
  text-decoration: underline;
}
.bar-info-container a {
  color: #900;
  cursor: pointer;
}
.hours {
  margin: 0;
}

.bar-info-container a:hover {
  color: coral;
  text-decoration: none;
}

.address {
  color: black;
  margin: 0;
}
.menu {
  margin-top: 35px;
}
.bar-info-container p:nth-child(2) {
  margin-top: 25px;
}

.bar-info-container p:nth-child(4) {
  margin-top: 25px;
}

.bar-info-container p:nth-child(6) {
  margin-top: 0;
}

.bar-info-container p:last-child {
  margin-bottom: 25px;
}

.img-container {
  position: relative;
  /* min-height: 350px; */
}
  .bar-name {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
  }
  .bar-hood {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
  }
  .rest-img {
    width: 100%;
  }

@media screen and (min-width: 700px) {
  .bar-result {
    padding-top: 50px;
  }
  .bar-name {
    font-size: 4rem;
  }
  .bar-hood {
    font-size: 2rem;
  }
  .bar-container {
    margin: 0 10% 75px 10%;
  }
  .description {
    padding: 0 60px;
  }
  .bar-info-container {
    margin: 30px;
  }

}
