.hero {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);

}

.hero::after {
  content: "";
  display: block;
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
  text-shadow: 0 0 5px coral, 0 0 5px coral;
}

.hero h1 {
  font-size: 3rem;
  padding-top: 120px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {

.hero h1 {
  font-size: 3.5rem;
  padding-top: 200px;
}

.hero {
  height: 450px;
}
}

@media screen and (min-width: 700px) {

.hero h1 {
  font-size: 4.5rem;
  padding-top: 250px;
}

.hero {
  height: 550px;
}

}
