/* select {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0px!important;
  height: 50px;
  width: 55%;
  border: none!important;
  color: rgba(255,255,255,0.5);
  font-size: 1em;
  padding-left: 15px;
  -webkit-appearance: none;
}

.input-group {
  border-radius: 0px!important;
}

.hood-submit {
  background-color: #900;
  border: none;
  color: #fff;
  font-size: 1em;
  height: 50px;
  width: 100px;
}
  .hood-submit:hover {
    color: #900;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #000;
  }

.select-wrapper {
    border-radius: 0px!important;
} */
